$padding-side: 1rem;
$padding-row : 3rem;

@mixin box {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

.app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}

header {
  @include box;
  
  padding: $padding-row 0;
  
  h1 {
    margin-bottom: 0;
    font-size: 2.75rem;
  }
}

main {
  @include box;
  
  padding: 0 $padding-side $padding-row;
  
  &.loading {
    align-self: center;
    
    // https://www.cssscript.com/demo/animated-progress-bar-component-with-pure-css/
    .progress-wrapper {
      border-radius: 6px;
      padding: 4px;
      background: #eee;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
      
      @keyframes progress {
        0% {
          background-position: 0 0;
        }
        
        100% {
          background-position: -35px -35px;
        }
      }
      
      .progress {
        border-radius: 6px;
        padding: .25rem;
        background-size: 35px 35px;
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, .125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .125) 50%, rgba(255, 255, 255, .125) 75%, transparent 75%, transparent);
        background-color: #66bb6a;
        animation: progress 2s linear infinite;
        
        span {
          visibility: hidden;
        }
      }
    }
  }
}

.input-form {
  margin-bottom: $padding-row;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  font-size: 2rem;
  
  .input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 0 .5rem;
    outline: 0;
    
    &:hover,
    &:focus {
      border-bottom-color: #0f9;
    }
    
    &::placeholder {
      color: #ccc;
    }
  }
  
  .gacha {
    padding: 0 .5rem;
    white-space: nowrap;
  }
}

.submit {
  border: 0;
  border-radius: 4px;
  padding: .75rem 3rem;
  color: #fff;
  font-size: 1.75rem;
  background: #0b8;
  outline: 0;
  
  &:hover,
  &:focus {
    background: #0a7;
  }
  
  &:disabled {
    background: #999;
  }
}

.is-force-negative {
  position: absolute;
  top: 0;
  right: 0;
  
  input {
    outline: 0;
  }
}

.result {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.error {
  text-align: left;
  color: #f00;
}

footer {
  background: #012;
  padding: 1rem $padding-side;
  
  .links {
    $text-colour: #fff;
    @include box;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $text-colour;
    
    a {
      color: $text-colour;
    }
  }
}
